@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400&display=swap');

:root {
  --line-border-fill: #34db39;
  --line-border-empty: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  color: greenyellow;
}

.nav-item {
  display: flex;
  gap: 2rem;
}

.nav-item-left {
  display: flex;
  gap: 1.5rem;
}

.nav-item-right {
  display: flex;
  gap: 1.5rem;
}

.header {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  gap: 1.5rem;
}

.image-1 {
  height: 350px;
  width: 350px;
}

.image-2 {
  height: 350px;
  width: 350px;
}

.image-3 {
  height: 350px;
  width: 350px;
}

.image-1:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 4px;
}
.image-2:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 4px;
}
.image-3:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 4px;
}

.header-text {
  text-align: center;
  padding: 2rem 0;
}

.header-text-h3 {
  text-transform: uppercase;
}

.razer-color {
  color: rgb(74, 229, 74);
}

.section-1 {
  width: 30vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  margin: 2rem;
  padding: 3rem;
  border-radius: 20px;
  background-color: rgb(70, 212, 82);
}

.section-1-btn {
  width: 120px;
  height: 50px;
  margin-top: 20px;
  border: none;
  background-color: rgb(52, 117, 57);
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

.container-card {
  display: flex;
}

@media (max-width: 1100px) {
  .image-1 {
    display: none;
  }
  .image-2 {
    display: none;
  }
  .container-card {
    display: grid;
    grid-template-columns: auto auto;
  }
  .nav-item {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 650px) {
  .image-1 {
    display: none;
  }
  .image-2 {
    display: none;
  }
  .container-card {
    display: grid;
    grid-template-columns: auto;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  margin-top: 2rem;
  background-color: #34db39;
}

.logo-fixed {
  position: fixed;
  left: 1200px;
  top: 50px;
  opacity: 30%;
  z-index: -10;
}

.login-bg {
  background-color: #34db39;
  padding: 0 20px;
  border-radius: 15px;
}

.login-bg:hover {
  background-color: #29b32e;
}
